.movie {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
  }

  &__title {
    flex: 1;
    font-size: 2em;
    margin: 0;
  }

  &__vote {
    align-self: baseline;
    background: #95a5a6;
    font-size: 1.1em;
    margin: .4em 0 0 .4em;
    padding: .3em .4em;
    white-space: nowrap;
  }

  &__content {
    &-wrapper {
      flex: 1;
      order: 2;
    }
  }

  &__imagebar {
    margin-bottom: 1em;
    order: 1;
    text-align: center;
  }

  &__sidebar {
    width: 200px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: .7em;

      b {
        display: block;
      }
    }
  }

  .label {
    background: #ecf0f1;
    margin: .2em;
    padding: .3em .4em;
  }
}

@media only screen and (min-width: 735px) {
  .movie {
    flex-direction: row;

    &__content-wrapper {
      margin-left: 2em;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .movie {
    &__content {
      flex: 1;
      margin-right: 2em;

      &-wrapper {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
